#ojo-izq {
    d: path("M155.06 116.996C170.557 116.996 183.12 114.982 183.12 112.498C183.12 110.014 170.557 108 155.06 108C139.564 108 127.001 110.014 127.001 112.498C127.001 114.982 139.564 116.996 155.06 116.996Z");
}

#ojo-izq-luna {
    d: path("M147.656 112.498C147.656 110.599 155.003 108.976 165.388 108.316C162.19 108.113 158.708 108 155.059 108C139.562 108 127 110.014 127 112.498C127 114.982 139.563 116.996 155.059 116.996C158.708 116.996 162.19 116.883 165.388 116.68C155.003 116.021 147.656 114.398 147.656 112.498Z");
}

#ojo-der {
    d: path("M263.413 116.996C278.909 116.996 291.472 114.982 291.472 112.498C291.472 110.014 278.909 108 263.413 108C247.916 108 235.354 110.014 235.354 112.498C235.354 114.982 247.916 116.996 263.413 116.996Z");
}

#ojo-der-luna {
    d: path("M273.746 108.316C270.549 108.113 267.066 108 263.418 108C247.92 108 235.358 110.014 235.358 112.498C235.358 115.67 255.343 117.849 273.747 116.68C250.152 115.182 250.16 109.814 273.746 108.316Z");
}