{% extends 'base.html' %}
{% load static %}

{% block css %}
<link href="{% static 'css/chat.css' %}" rel="stylesheet" type="text/css" />
<link href="{% static 'css/toastr.css' %}" rel="stylesheet" type="text/css" />
{% endblock css %}

{% block content %}

<div class="container">
    <div class="mensajeria">
        <div class="chat" id="chat">
            <div class="portal derecha">
                <div class="profile">
                    <img src="{% static 'svg/veniot.svg' %}">
                </div>
                <div class="content-msj">
                    <p class="msj">
                        Hola mi nombre es Veniot y soy un robot que le gusta aprender.
                    </p>
                    <div class="direccion"></div>
                </div>
            </div>
        </div>
        <p id="duracion"></p>
        <div data-role="recordings"></div>
        <div class="receptor justify-content-end">
            {% csrf_token %}
            <input type="text" id="userBox" style="display: none; width: 100%;" placeholder="Escribe el mensaje">
            <button class="btn enviar" id="btnEnviar" onclick="talk()">
                <i class="fa-solid fa-paper-plane" style="margin-right: 11px;"></i>
                <span>Hola</span>
            </button>
            <button class="btn grabar" id="btnComenzarGrabacion" style="display: none;">
                <i class="fa-solid fa-microphone" style="margin-right: 10px;"></i>
                <span>Grabar</span>
            </button>
            <button class="btn enviar" id="btnDetenerGrabacion" style="display: none;" disabled>
                <i class="fa-solid fa-paper-plane" style="margin-right: 10px;"></i>
                <span>Detener</span>
            </button>
        </div>
    </div>
</div>
{% endblock content %}

{% block js %}
<script src="https://code.jquery.com/jquery.min.js" type="text/javascript"></script>
<script src="https://markjivko.com/dist/recorder.js" type="text/javascript"></script>
<script src="{% static 'js/toastr.js' %}" type="text/javascript"></script>
<script src="{% static 'js/chat.js' %}" type="text/javascript"></script>
{% endblock js %}