{% load static %}
{% url 'inicio' as inicio %}
{% url 'desarrolladores' as desarrolladores %}
{% url 'chat' as chat %}
<header class="header">
    <nav>
        <a class="btn logo-container" href="{{ inicio }}">
            <div class="logo">
                <img src="{% static 'img/RVeniot.png' %}">
            </div>
            <span>Veniot</span>
        </a>
        <ul>
            <li>
                <a class="btn {% if request.path == inicio %}active{% endif %}" href=" {{ inicio }}">
                    <span>Inicio</span>
                </a>
            </li>
            <li>
                <a class="btn" href="#Description">
                    <i class="fa-solid fa-circle-question" style="font-size: 20px; margin-right:5px;"></i>
                    <span>¿Quien es veniot?</span>
                </a>
            </li>
            <li>
                <a class="btn {% if request.path == desarrolladores %}active{% endif %}" href="{{ desarrolladores }}">
                    <i class="fa-solid fa-users-line" style="font-size: 20px; margin-right:5px;"></i>
                    <span>Equipo</span>
                </a>
            </li>
            <li>
                <a class="btn" href="#GitHub">
                    <i class="fa-brands fa-github" style="font-size: 20px; margin-right:5px;"></i>
                    <span>GitHub</span>
                </a>
            </li>
        </ul>
    </nav>
</header>