{% load static %}
<header>
    <nav>
        <ul>
            <li>
                <a href="#Inicio">
                    <span>Inicio</span>
                </a>
            </li>
        </ul>
        <ul>
            <li>
                <a href="#Description">
                    <span>¿Quien es veniot?</span>
                </a>
            </li>
        </ul>
        <ul>
            <li>
                <a href="#Equipo">
                    <span>Equipo</span>
                </a>
            </li>
        </ul>
        <ul>
            <li>
                <a href="#GitHub">
                    <span>GitHub</span>
                </a>
            </li>
        </ul>
    </nav>
</header>