{% extends 'base.html' %}
{% load static %}

{% block content %}

<section id="hero-animated" class="hero-animated d-flex align-items-center">
    <div class="container d-flex flex-column justify-content-center align-items-center text-center position-relative"
        data-aos="zoom-out">
        <img src="{% static 'svg/veniot.svg' %}" class="animated" height="300px">
        <h2>Bienvenido a <span>Veniot</span></h2>
        <p>Veniot es un bot que clona tu voz.</p>
        <div class="d-flex">
            <a href="{% url 'chat' %}" class="btn-get-started scrollto">Probar</a>
        </div>
    </div>
</section>

<main id="main">

    <!-- ======= Featured Services Section ======= -->
    <section id="featured-services" class="featured-services">
        <div class="container">

            <div class="row gy-3">

                <div class="col-xl-3 col-md-6 d-flex" data-aos="zoom-out">
                    <div class="service-item position-relative">
                        <div class="icon"><i class="bi bi-activity icon"></i></div>
                        <h4>Graba</h4>
                        <p>Graba tu voz para clonarla</p>
                    </div>
                </div><!-- End Service Item -->

                <div class="col-xl-3 col-md-6 d-flex" data-aos="zoom-out" data-aos-delay="200">
                    <div class="service-item position-relative">
                        <div class="icon"><i class="bi bi-card-text"></i></div>
                        <h4>Texto</h4>
                        <p>Ingresa el texto que deseas que se reproduzca con tu voz</p>
                    </div>
                </div><!-- End Service Item -->
                <div class="col-xl-3 col-md-6 d-flex" data-aos="zoom-out" data-aos-delay="600">
                    <div class="service-item position-relative">
                        <div class="icon"><i class="bi bi-broadcast icon"></i></div>
                        <h4>Audio</h4>
                        <p>Sube un audio pregrabado para clonar tu voz.</p>
                    </div>
                </div><!-- End Service Item -->


                <div class="col-xl-3 col-md-6 d-flex" data-aos="zoom-out" data-aos-delay="600">
                    <div class="service-item position-relative">
                        <div class="icon"><i class="bi bi-ear"></i></div>
                        <h4>Escucha</h4>
                        <p>Escucha el texto que escribiste con tu voz.</p>
                    </div>
                </div><!-- End Service Item -->

            </div>

        </div>
    </section><!-- End Featured Services Section -->

    <!-- ======= Call To Action Section ======= -->
    <section id="cta" class="cta">
        <div class="container" data-aos="zoom-out">

            <div class="row g-5">

                <div
                    class="col-lg-8 col-md-6 content d-flex flex-column justify-content-center order-last order-md-first">
                    <h3>Sobre <em>Veniot</em> </h3>
                    <p style="text-align: justify"> Veniot es un chatrobot con el cual podrás interactuar mediante
                        texto, para luego proporcionarte un texto lo cual debe ir leyendo mientras tu voz será
                        grabada.

                        Esta grabación de voz se realiza para poder entrenar un modelo de inteligencia artificial
                        enfocado en redes neuronales que son aplicados para que Veniot pueda clonar tu voz con
                        perfección.</p>
                    <a class="cta-btn align-self-start" href="{% url 'chat' %}">Probar</a>
                </div>

                <div class="col-lg-4 col-md-6 order-first order-md-last d-flex align-items-center">
                    <div class="img">
                        <img src="{% static 'img/init.png' %}" alt="" class="img-fluid" />

                    </div>
                </div>

            </div>

        </div>
    </section><!-- End Call To Action Section -->


    <!-- ======= Team Section ======= -->
    <section id="team" class="team">
        <div class="container" data-aos="fade-up">

            <div class="section-header">
                <h2>Nuestro Equipo</h2>
                <p></p>
            </div>

            <div class="row gy-5">

                <div class="col-xl-6 col-md-6 d-flex" data-aos="zoom-in" data-aos-delay="200">
                    <div class="team-member">
                        <div class="member-img">
                            <img src="{% static 'img/valeria.jpg' %}" class="img-fluid" alt="" />
                        </div>
                        <div class="member-info">
                            <div class="social">
                                <a href=""><i class="bi bi-twitter"></i></a>
                                <a href=""><i class="bi bi-facebook"></i></a>
                                <a href=""><i class="bi bi-instagram"></i></a>
                                <a href=""><i class="bi bi-linkedin"></i></a>
                            </div>
                            <h4>Valeria Torres</h4>
                            <span>Ingeniería en Sistemas</span>
                        </div>
                    </div>
                </div><!-- End Team Member -->

                <div class="col-xl-6 col-md-6 d-flex" data-aos="zoom-in" data-aos-delay="400">
                    <div class="team-member">
                        <div class="member-img">
                            <img src="{% static 'img/henry.png' %}" class="img-fluid" alt="">
                        </div>
                        <div class="member-info">
                            <div class="social">
                                <a href=""><i class="bi bi-twitter"></i></a>
                                <a href=""><i class="bi bi-facebook"></i></a>
                                <a href=""><i class="bi bi-instagram"></i></a>
                                <a href=""><i class="bi bi-linkedin"></i></a>
                            </div>
                            <h4>Henry Pérez</h4>
                            <span>Ingeniería en Software</span>
                        </div>
                    </div>
                </div><!-- End Team Member -->
            </div>
        </div>
    </section><!-- End Team Section -->
</main><!-- End #main -->
<!-- ======= Footer ======= -->
<footer id="footer" class="footer">
    <div class="footer-content">
        <div class="container">
            <div class="row">

                <div class="col-lg-3 col-md-6">
                    <div class="footer-info">
                        <h3>Veniot</h3>
                        <p>
                            UTEQ <br>
                            Avenida Carlos J Arosemena 21, Quevedo, Los Rios 120301 <br><br>
                            <strong>Phone:</strong>(+593) 5 3702-220 Ext. 8001<br>
                            <strong>Email:</strong>info@uteq.edu.ec<br>
                        </p>
                    </div>
                </div>

                <div class="col-lg-2 col-md-6 footer-links">
                    <h4>Useful Links</h4>
                    <ul>
                        <li><i class="bi bi-chevron-right"></i> <a href="#">Inicio</a></li>
                        <li><i class="bi bi-chevron-right"></i> <a href="#">Sobre Veniot</a></li>
                        <li><i class="bi bi-chevron-right"></i> <a href="#">Equipo</a></li>
                    </ul>
                </div>

                <div class="col-lg-3 col-md-6 footer-links">
                    <h4>Nuestros servicios</h4>
                    <ul>
                        <li><i class="bi bi-chevron-right"></i> <a href="#">Chat Bot</a></li>
                    </ul>
                </div>

                <div class="col-lg-4 col-md-6 footer-newsletter">
                    <h4>Contáctanos</h4>
                    <p>Déjanos tu correo para conocer más.</p>
                    <form action="" method="post">
                        <input type="email" name="email"><input type="submit" value="Enviar">
                    </form>

                </div>

            </div>
        </div>
    </div>

    <div class="footer-legal text-center">
        <div
            class="container d-flex flex-column flex-lg-row justify-content-center justify-content-lg-between align-items-center">
            <div class="d-flex flex-column align-items-center align-items-lg-start">
                <div class="copyright">
                    &copy; Copyright <strong><span></span></strong>. All Rights Reserved
                </div>

            </div>
            <div class="social-links order-first order-lg-last mb-3 mb-lg-0">
                <a href="#" class="twitter"><i class="bi bi-twitter"></i></a>
                <a href="#" class="facebook"><i class="bi bi-facebook"></i></a>
                <a href="#" class="instagram"><i class="bi bi-instagram"></i></a>
                <a href="#" class="google-plus"><i class="bi bi-skype"></i></a>
                <a href="#" class="linkedin"><i class="bi bi-linkedin"></i></a>
            </div>

        </div>
    </div>
</footer><!-- End Footer -->
{% endblock content %}